.Quiz {
	width: 100vw;
	height: 94vh;
	background-color: whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;

	&__wrapper {
		width: 500px;
		height: 300px;
		overflow: hidden;
	}

	&__section {
		display: flex;
	}
}

.QuizQuestion {
	min-width: 500px;
	min-height: 300px;
}

.QuizComplete {
	box-sizing: border-box;
	padding: 30px;
	border-radius: 4px;
	background-color: #bcaaa4;
	min-width: 500px;
	min-height: 300px;
}
