.Sidebar {
	.Sidebar__background {
		backdrop-filter: blur(3px);
		background-color: rgba(0, 0, 0, 0.4);
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		box-sizing: border-box;

		&__button {
			outline: 10px solid orange;
			transform: translateX(-15vw) translateZ(0);
		}
	}
	.nav {
		width: 192px;
		height: 100%;
		background-color: #bcaaa4;
		position: absolute;
		top: 0;
		transform: translateX(-100%);
		border-right: 1px solid #8c7b75;
		box-shadow: 22px 0px 44px 2px rgba(0, 0, 0, 0.40);
		// animation: slide 0.5s ease forwards;

		&__closeWrapper {
			width: 100%;
			height: 35px;
			display: flex;
			justify-content: flex-end;
			align-items: center;

			&__button {
				border-radius: 4px;
				background-color: whitesmoke;
				outline: none;
				border: none;
				margin: 0 20px;
				display: flex;
				justify-content: center;
				align-items: center;

				&:focus {
					outline: 2px solid orange;
				}
			}
		}

		.Sidebar__ul {
			height: 33%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			.Sidebar__li {
				box-sizing: border-box;
				display: block;
				height: 20%;
				width: 100%;
				border-bottom: solid 1px gray;
				padding-left: 20px;
				display: flex;
				align-items: center;
				transition: all 0.1s ease;

				&:hover {
					border-left: 5px solid black;
					background-color: #efdcd5;
				}

				&__Link {
					text-decoration: none;
					color: black;

					&:focus {
						outline: 2px solid orange;

						.Sidebar__li {
							border-left: 5px solid black;
						}
					}

					&--active {
						font-size: 25px;
						text-decoration: underline;
					}
				}
			}
		}
	}
}

// @keyframes slide {
// 	0% {
// 		opacity: 0;
// 	}

// 	100% {
// 		transform: translatex(15vw) translateZ(0);
// 		opacity: 1;
// 	}
// }
