@import './components/main/main.scss';
@import './components/about/About.scss';
@import './components/stats/stats.scss';
@import './components/sidebar/sidebar.scss';
@import './components/header/header.scss';
@import './components/quiz/Quiz.scss';

body {
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
}

ul {
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0;
}

li {
	list-style: none;
}
